/.idea/.gitignore
/.idea/fish_reports.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/analys/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/analys/__pycache__/config.cpython-37.pyc
/analys/src/__pycache__/text_vectorizer.cpython-37.pyc
